@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.linear-grey-gradient{
  background:linear-gradient(#858585 0%,#474747 23%,#292929 41%,#0F0F0F 100%)
}

.linear-gradient-company{
  background: linear-gradient(to left,rgba(222, 222, 222, 1) 0%,rgba(255, 255, 255, 0.62) 52%,rgba(181, 181, 181, 0.62) 100%,rgba(255, 245, 245, 0.60) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.carousel-wrapper {
  display: grid;
  place-content: center;
  border-radius: 2rem;

}
.carousel-content {
  position: relative;
  width: 20rem;
  height: 20rem;

}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid red;
  background: black;
  border-radius: 5px;
  padding: 20px;

}

.carousel-btns {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 6;
}
button {
    padding: 8px 15px;
    width: 5rem;
    background-color: rgb(62, 62, 62);
    border-radius: 1rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }
