@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.linear-grey-gradient {
  background: linear-gradient(
    #858585 0%,
    #474747 23%,
    #292929 41%,
    #0f0f0f 100%
  );
}

.text-gradient {
  background: linear-gradient(
  to bottom,
  rgba(192, 191, 255, 1) 0%, 
  rgba(255, 255, 255, 0.9) 100% 
);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo-text-gradient {
  background: linear-gradient(#000000 75%, #ffffff 90%);
}
.get-started-button-gradient {
  background: linear-gradient(#122837 0%, #5e0bef 100%);
}
.linear-gradient-hero-section {
background-image: linear-gradient(
  to bottom,
  rgba(15, 15, 15, 0.95) 0%, 
  rgba(41, 41, 41, 1) 54%, 
  rgba(71, 71, 71, 0.9) 80%, 
  rgba(133, 133, 133, 0.9) 100%
);
}

.linear-gradient-fade {
  mask-image: linear-gradient(
    to right,rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}

.linear-gradient-company {
  background: linear-gradient(
    to left,
    rgba(222, 222, 222, 1) 0%,
    rgba(255, 255, 255, 0.62) 52%,
    rgba(181, 181, 181, 0.62) 100%,
    rgba(255, 245, 245, 0.6) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.image-clip{
  clip-path: inset(1% 0 0 0);
}

.carousel-wrapper {
  display: grid;
  place-content: center;
  border-radius: 2rem;

}
.carousel-content {
  position: relative;
  width: 19rem;
  height: 18rem;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: black;
  border-radius: 5px;
  padding: 20px;
}

